{{page-title 'Dummy'}}

<h2>People</h2>

<div>
  Response status:
  <span id='response-status'>{{@model.status}}</span>
</div>

<ul id="people">
  {{#each @model.people as |person|}}
    <li>
      Name:
      {{person.name}}
      <br />
      Email:
      {{person.email}}
    </li>
  {{/each}}
</ul>